
/* ==== GENERAL STYLES ==== */

* {
    box-sizing: border-box;
  }
  
  /* ==== A SIMPLE TOP NAVIGATION ==== */
  
  nav ul {
    background-color: #eee;
    text-align: center;
  }

  h1 {
      text-align: center;
      background-color: coral;
      border-radius: 100%;
      text-decoration: none;
      color: #C74F78;
      display: block;
  }

  nav li {
    font-family: 'Anton', sans-serif;
    font-size: 1.4rem;
    line-height: 3rem;
    height: 3rem;
    border-bottom: 1px solid #ccc;
  }

  nav a {
    text-decoration: none;
    color: #C74F78;
    display: block;
  }
  
  nav a:hover {
    background-color: #fff;
  }
  nav a:hover {
    background-color: #fff;
    transition: background-color .3s ease-in-out;
  }

  @media (min-width: 600px) {

    nav li {
      display: inline-block;
      border-bottom: none;
      width: 7.5rem;
    }
  
  }

  nav {
    font-size: 0;
  }